# Menu Preorder Service
MENU_PREORDER_DB_HOST=menu-preorder-db
MENU_PREORDER_DB_PORT=5432
MENU_PREORDER_DB_NAME=menu_preorder_db
MENU_PREORDER_DB_USER=postgres
MENU_PREORDER_DB_PASSWORD=password

# Queue Service
QUEUE_DB_NAME=antrein_queue_service
QUEUE_DB_USER=postgres
QUEUE_DB_PASSWORD=password
