# Menu Preorder Service
MENU_PREORDER_DB_HOST=menu-preorder-db
MENU_PREORDER_DB_PORT=5433
MENU_PREORDER_DB_NAME=menu_preorder_db
MENU_PREORDER_DB_USER=aldoger
MENU_PREORDER_DB_PASSWORD=aldoger

# Queue Service
QUEUE_DB__HOST=antrein_queue_db
QUEUE_DB_PORT=5434
QUEUE_DB_NAME=antrein_queue_db
QUEUE_DB_USER=aldoger
QUEUE_DB_PASSWORD=aldoger

# User Service
USER_DB_HOST=user_db
USER_DB_PORT=5435
USER_DB_NAME=user_db
USER_DB_USER=aldoger
USER_DB_PASSWORD=aldoger
JWT_SECRET_KEY=aldoger
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60